html {
  background-image: url("../assets/index.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
body {
  margin: 0;
}

